
/*GRID*/
.wrapper {
  display: grid;
  max-width: 1300px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(150, 16px);
  grid-column-gap: 2%;
  grid-row-gap: 4px;
  margin: 0 auto;
}

/*Main*/
.section-0 {
  grid-column: 2/12;
}

/*Nav*/
.section-1 {
  grid-column: 1/13;
  grid-row: 1/28;
}

/*Filters*/
.section-2 {
  grid-column: 2/12!important;
  text-align: center;
  grid-row: 32/37;
}

/*Projects*/
.section-3 {
  grid-column: 2/12!important;
  grid-row: 35/150;
}


/*RESPONSIVE*/
